@import "../../styles/variables";

.job {
  min-height: 230px;
  max-width: 415px;
  &__label {
    font-size: $fs-label-one;
    opacity: 0.5;
    @media (max-width: 580px) {
      font-size: 86px;
    }
  }
  &__profession {
    margin-bottom: 15px;
  }
  &__company {
    color: $c-green;
  }
}
