// @import "../../styles/variables";

// COLORS
$c-black: #000000;
$c-level-one: #181823;
$c-light-grey: #deecf9;
$c-dark-grey: #5B6876;
$c-white: #ffffff;
$c-primary: #5221e6;
$c-green: #3cc74e;
$c-pink: #e95d90;
$c-peach: #fff3e4;
$c-violet: #fbe4ff;

// Font
$f-sen: "Sen";
$f-sen-b: "Sen";

// Font size
$fs-label-one: 117px;
$fs-heading-one: 76px;
$fs-heading-two: 55px;
$fs-heading-three: 24px;
$fs-heading-four: 18px;
$fs-heading-five: 16px;

// Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

// Whithe
$w-base: 1440px;
