@import "../../styles/variables";

.bunner {
    height: 900px;
    position: relative;
  &::before {
    background-color: $c-level-one;
    position: absolute;
    height: 900px;
    content: "";
    z-index: 1;
    width: 60%;
    right: 0;
    top: 0;
  }
  &::after {
    content: "";
    background: url(../../assets/image/myPhoto.png) no-repeat center center;
    top: calc(50% - 325px);
    position: absolute;
    max-width: 750px;
    height: 650px;
    width: 100%;
    z-index: 1;
    @media (max-width: 1165px) {
      filter: brightness(60%);
    }
  }
}

.bunner_wrapper {
    height: 900px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  z-index: 2;
}
.bunner_title {
  color: $c-white;
  margin-bottom: 32px;
  @media (max-width: 835px) {
    font-size: $fs-heading-two;
    line-height: 66px;
  }
  @media (max-width: 580px) {
    font-size: 42px;
    line-height: 42px;
  }
}
.bunner_title_grey {
  opacity: 0.5;
}
.bunner_text {
  color: $c-white;
  font-size: $fs-heading-four;
}
.bunner_about {
  margin-right: 40px;
  min-height: 360px;
  max-width: 770px;
  z-index: 2;
  @media (max-width: 835px) {
    margin: 0 20px;
  }
}
