.main_project__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .main_project__wrapper {
    padding: 0 20px;
  }
}

.main_project__wrapper h2 {
  margin-bottom: 80px;
}

@media (max-width: 800px) {
  .main_project__wrapper h2 {
    font-size: 32px;
    line-height: 32px;
  }
}

.main_project__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1440px) {
  .main_project__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main_project__link {
  margin-bottom: 120px;
  margin-top: 40px;
}

.main_project__link a {
  margin: 0 20px;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.main_project__link a span::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 3px solid #5221e6;
  border-left: 3px solid #5221e6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.main_project__link a span::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 3px solid #5221e6;
  border-bottom: 3px solid #5221e6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.main_project__link a::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 3px solid #5221e6;
  border-top: 3px solid #5221e6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.main_project__link a::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 3px solid #5221e6;
  border-bottom: 3px solid #5221e6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.main_project__link a:hover {
  color: #ffffff;
}

.main_project__link a:hover::before {
  opacity: 1;
  right: 5px;
  top: 5px;
}

.main_project__link a:hover::after {
  opacity: 1;
  left: 5px;
  bottom: 5px;
}

.main_project__link a:hover span::before {
  opacity: 1;
  left: 5px;
  top: 5px;
}

.main_project__link a:hover span::after {
  opacity: 1;
  right: 5px;
  bottom: 5px;
}
